.card {
    box-sizing: border-box;
    border: 3px solid teal;
    background: white;
    padding: 10px;
    color: teal;
    border-top-left-radius: 0.5em;
    border-top-right-radius: 0.5em;
    border-bottom-right-radius: 0.5em;
    border-bottom-left-radius: 0.5em;
    margin: 0.5em;
}